<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<property name="LOG_FILE" value="${log.path:-.}/sbex.log}"/>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="com.amazonaws" level="INFO"/>
	<logger name="org.hibernate" level="ERROR"/>
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.springframework.web" level="WARN"/>
	<logger name="org.thymeleaf" level="INFO"/>

</configuration>
